.project-area(@color)
{
  h1, h2, h3 {
    background-color: @color;
  }

  a {
    color: @color;

    &:hover,
    &:focus {
      color: darken(@color, 20%)
    }
  }

  span:before {
    color: @color;
  }

  .btn {
    background: @color;
  }

  .bg {
    background: fade(@color, 80%) !important;
  }
}

.area-joomla {
  .project-area(@color-blue);
}

.area-forum {
  .project-area(@color-red);
}

.area-community {
  .project-area(@color-yellow);
}

.area-events {
  .project-area(@color-green);
}