.project-area(@color)
{
  h1, h2, h3, h1 a, h2 a, h3 a {
    color: @color;

    &.moduleheading {
      background: @color;
    }
  }

  a {
    color: @color;

    &:hover,
    &:focus {
      color: darken(@color, 20%)
    }
  }

  span:before {
    color: @color;
  }

  .btn {
    background: @color;
    color:#fff;
    border:none;
    border-radius: 6px;
  }

  .bg {
    background: fade(@color, 80%) !important;
  }

  #aside ul.menu {
    ul li:before {
      color: @color;
    }

    li.active > a {
      color: @color;
    }
  }

  &.info {
    background-color: lighten(@color, 30%);

    h3 {
      border-bottom: 1px solid @color;
    }
  }

  &.info-content {
    background-color: lighten(@color, 30%);
    border: 1px solid @color;
    color: @color;

    &:before {
      color: @color;
    }
  }
}

.area-joomla {
  .project-area(@color-blue);
}

.area-forum {
  .project-area(@color-red);
}

.area-community {
  .project-area(@color-yellow);
}

.area-events {
  .project-area(@color-green);
}

.area-neutral {
  .project-area(@color-grey);
}