#maincontent .item-page {
  .tags {
    margin: 1em 0;
    float: none;

    li:first-child {
      padding-left: 0px;
    }
  }

  .item-image {
    margin: 1em 0;
  }
}
#maincontent .item-image.pull-left {
	padding: 5px;
    border: 1px solid #ccc;
    margin: 0 1em 1em 0;
}