.page-header {
  margin:0;
  padding:0;
  border-bottom: 1px solid  @color-darkblue;
  h1 {text-transform: uppercase; color:@color-darkblue; font-size:@font-size-h2;}
  h2 {text-transform: uppercase; color:@color-darkblue;}
}

.items-leading {
  padding:@grid-gutter-width;
  background:lighten(@color-darkblue,60);
  border:1px solid @color-darkblue;
}

.items-row {
  padding:@grid-gutter-width;
  background:lighten(@color-grey,40);
  border:1px solid @color-grey;
  margin:@grid-gutter-width 0;
}

.blog img {
  border-radius:75px;
}

.blog .pull-left.item-image {
  margin-right:@grid-gutter-width;
}

.readmore .btn {border-radius: 6px; background: @color-darkblue; color:#fff; text-decoration: none; float:right;}
.readmore .btn:hover {background:darken(@color-darkblue,10%);}