.nopadding {
  padding:0;
}

.items-row {margin:20px 0;}

.blog img {
  border-radius:75px;
}

.news_titel {padding-bottom:@grid-gutter-width;}

.news_category {
  height:40px;
  line-height: 40px;
  font-weight: normal;
  font-size:@font-size-small;
  padding:0 10px;
  text-transform: uppercase;
}

.news_beitrag {
  padding:@grid-gutter-width;
}

.news_tags {
  height:40px;
  line-height: 40px;
  font-weight: normal;
  font-size:@font-size-small;
  padding:0 10px;
  text-transform: uppercase;
}

.news_datum {
  font-size:@font-size-small;
  margin-top:@grid-gutter-width;
  display:block;
}



.news_infobereich {
  color:#fff;
  text-align: center;

  .page-header {
    margin:0;
    border-bottom:none;
  }

  h1, h2 {
    font-size:@font-size-h3;
    width:100%;
    text-align: center;
    font-weight: normal;
    margin-top:0px;
  }

  img {
    margin:0pt auto;
  }

}

.news_joomla {

  border-bottom: 1px solid lighten(@color-blue,10%);

  .news_infobereich {
    background: lighten(@color-blue,10%);


    .news_category {
      background: @color-blue;
    }
  }
  .news_icon:before {
    font-family:FontAwesome;
    color:#fff;
    font-size:26px;
    content:"\f1aa";
    padding: 0 5px;

  }

  .news_tags {
       background:lighten(@color-blue,25%);
  }

  .news_tags span {color:@color-blue;}

  .label-info {
    background: @color-blue;
  }
  .label-info:hover {
    background: darken(@color-blue,10%);
  }
  .readmore .btn {border-radius: 6px; background: @color-blue; color:#fff; text-decoration: none; float:right;}
  .readmore .btn:hover {background:darken(@color-blue,10%);}

}

.news_events {

  border-bottom: 1px solid lighten(@color-green,10%);

  .news_infobereich {
    background: lighten(@color-green,10%);

    .news_category {
      background: @color-green;
    }
  }
  .news_icon:before {
    font-family:FontAwesome;
    color:#fff;
    content:"\f073";
    font-size:26px;
    padding: 0 5px;
  }

  .news_tags {
    background:lighten(@color-green,25%);
  }
  .news_tags span {color:@color-green;}

  .label-info {
    background: @color-green;
  }
  .label-info:hover {
    background: darken(@color-green,10%);
  }
  .readmore .btn {border-radius: 6px; background: @color-green; color:#fff; text-decoration: none; float:right;}
  .readmore .btn:hover {background:darken(@color-green,10%);}
}

.news_community {
  border-bottom: 1px solid lighten(@color-yellow,10%);

  .news_infobereich {
    background: lighten(@color-yellow,10%);

    .news_category {
      background: @color-yellow;
    }  }

  .news_icon:before {
    font-family:FontAwesome;
    color:#fff;
    content:"\f0c0";
    font-size:26px;
    padding: 0 5px;
  }

  .news_tags {
    background:lighten(@color-yellow,25%);
  }
  .news_tags span {color:@color-yellow;}
  .label-info {
    background: @color-yellow;
  }
  .label-info:hover {
    background: darken(@color-yellow,10%);
  }

  .readmore .btn {border-radius: 6px; background: @color-yellow; color:#fff; text-decoration: none; float:right;}
  .readmore .btn:hover {background:darken(@color-yellow,10%);}

}

.news_wissen {
  border-bottom: 1px solid lighten(@color-red,10%);

  .news_infobereich {
    background: lighten(@color-red,10%);

    .news_category {
      background: @color-red;
    }
  }

  .news_icon:before {
    font-family:FontAwesome;
    color:#fff;
    content:"\f19d";
    font-size:26px;
    padding: 0 5px;
  }

  .news_tags {
    background:lighten(@color-red,25%);
  }

  .news_tags span {color:@color-red;}

  .label-info {
    background: @color-red;
  }
  .label-info:hover {
    background: darken(@color-red,10%);
  }

  .readmore .btn {border-radius: 6px; background: @color-red; color:#fff; text-decoration: none; float:right;}
  .readmore .btn:hover {background:darken(@color-red,10%);}

}


.readmore .btn {margin-bottom:@grid-gutter-width; }

div.pagination {
  width:100%;
.counter {
  text-align: center;
}
  .page-section {
  text-align: center;

  ul.pagination {
    width:auto;
    margin: 0pt auto;
  }

  }
}
.pull-right.item-image,
.pull-left.item-image {
  width: auto;
}