body {
  margin: 0; padding:0;
}

#outerwrapper {
  max-width: @container-large-desktop;
  
  > .row {
    margin-top:3em;
  }
}

.fullwidth {
  margin-left: calc(-@grid-gutter-width / 2);
  width: calc( ~"100% + " @grid-gutter-width );

  img.img-responsive {
    max-width: none;
    width: 100%
  }
}

#header {
  background:darken(@color-grey,45%);
}

#footer {
  background: @color-darkblue;
  min-height: 50px;
  padding: 15px 0;
  margin-top: 1.5em;
  color: white;
  font-size: 0.85em;
  text-align: center;

  > * {
    max-width: @container-large-desktop;
    margin: 0 auto;
  }
}

#logo {
  width: 60%;
  max-width: 220px;
  margin: (@grid-gutter-width / 2) 0 (@grid-gutter-width / 2) (@grid-gutter-width / 2);
}

#navtoggler {
  top: 17px;
  right: (@grid-gutter-width / 2);
  position: absolute;
}

#logo, #navtoggler {
  z-index: 10;
}