.moduleheading {
  h1&, h2&, h3&, h1& a, h2& a, h3& a {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5px;
    background: @color-grey;
  }
}

.icon_module {
  text-align: center;

  span.fa {
    display: block;
    margin-bottom:10px;
  }

  span.fa:before {
    font-size:60px;
  }

  a {
    text-decoration: none;
    color: @color-font !important;
  }

  > div {
    padding: @grid-gutter-width 0;

    #top-a & {
      min-height: 230px;
    }
  }
}

.referenzen img {
  border: 1px solid @color-grey;
  margin-top: 1em;
}

#events .moduletable h4.moduleheading-news {
  color: @color-font;
  text-transform: uppercase;
  margin: 2em 0 1em 0;
}


.moduletable.download,
.moduletable.features {
  text-align: center;
  color: white;
  height: 160px;
  width: 100%;
}

.moduletable.download {
  display: table;


  > div {
    vertical-align: middle;
    display:table-cell;
  }

  h4 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.moduletable.features {
  > div {
    height: 160px;
  }

  .carousel-control.right,
  .carousel-control.left {
    background: transparent !important;
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    margin: 0;
  }

  .item {
    margin-top: 40px;
  }

  .carousel-indicators {
    display: none;
  }
}

.staticheader {
  position: relative;

  &:after {
    height: 100%;
    width: 100%;
    display: block;
    content: " ";
    top: 0px;
    position: absolute;
    background: fade(@color-darkblue, 80%)
  }
}

body.joomla {
.staticheader {

  &:after {
    background: fade(@color-darkblue, 80%)
  }
}
}

body.community {
  .staticheader {

    &:after {
      background: fade(@color-yellow, 80%)
    }
  }
}

body.events {
  .staticheader {

    &:after {
      background: fade(@color-green, 80%)
    }
  }
}

body.wissen {
  .staticheader {

    &:after {
      background: fade(@color-red, 80%)
    }
  }
}

/* Module Joomla-Download aside */

#aside .moduletable.download-joomla {

  margin-bottom: 30px;

  a {
    text-decoration: none;
  }

  p {
    margin: 0 0 5px 0;
  }

  .name {
    color: @color-blue;
    font-weight: bold;
  }

  .btn.blue {
    color: #fff !important;
    width: 100%;
    margin-bottom: 20px;
    background-color: @color-darkblue!important;
  }

  .btn.orange {
    background-color: @color-yellow!important;
    border: none;
    color: #fff !important;
    width: 100%;
  }
}

/* Module info aside */

#aside .moduletable.info {

/*  background-color: @gray;*/
  font-size: 14px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    font-size: 18px;

    &:before {
      content: '!';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      padding: 0 10px 0 0;
    }
  }

  ul,ol {
    padding: 10px 15px;
    margin-left: 10px;
  }

  p {
    padding: 10px 15px;
  }
}

.social-media > li > a {
  padding: 5px;
}

/* Module social-media */
.social-media li span:before {color:@color-grey;}
.social-media li.active span.fa-facebook-official:before, .social-media li:hover span.fa-facebook-official:before {color:@color-blue;}
.social-media li.active span.fa-youtube-square:before, .social-media li:hover span.fa-youtube-square:before {color:@color-red;}
.social-media li.active span.fa-xing-square:before, .social-media li:hover span.fa-xing-square:before {color:@color-green;}
.social-media li.active span.fa-stack-overflow:before, .social-media li:hover span.fa-stack-overflow:before {color:@color-yellow;}
.social-media li.active span.fa-life-ring:before, .social-media li:hover span.fa-life-ring:before {color:@color-red;}

/* Google Calendar Module */
ul.next-events {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding-left: 55px;
    margin-bottom: 10px;
    position: relative;
    .event-name, .event-name a {
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
    }
    .event-location, .event-duration {
      font-size: 14px;
      line-height: 20px;
    }
    .event-location {
      color: @color-grey;
    }
    .event-duration {}
    &:before {
      font-family: FontAwesome;
      display: inline-block;
      background: @color-green;
      border-radius: 100px;
      padding: 7px 15px;
      color: #fff;
      content: "\f041";
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}