.moduleheading {
  h1&, h2&, h3&, h1& a, h2& a, h3& a {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5px;
    background: @color-grey;
  }
}

.icon_module span.fa:before {
  font-size:60px;
}

.icon_module span.fa {
  display: block;
  margin-bottom:10px;
}

.icon_module {
  text-align: center;
  padding:20px 0;
}
