/** hide main nav on mobile **/
#mainnav {
  .sr-only();
  .sr-only-focusable();
}

#navtoggler { width:calc(@grid-gutter-width * 1.25);
  height:calc(@grid-gutter-width * 1.25);
  color:#fff;
  background:transparent;
  border:none;

span {
  font-size:@font-size-h2;
}

}

#navtoggler:focus {border:none;}

/** main nav layout on enabled navigation **/
body.shownav {
  overflow-x: hidden;
  position: relative;

  #outerwrapper {
    margin-left: ((@width-offcanvas - 2) * -1);
    width: 100%;
  }

  #mainnav {
    position: absolute;
    right: 0;
    top: 0;
    width: @width-offcanvas;
    height: 100%;
    clip: auto;
    background:darken(@color-grey,45%);

    ul.menu {
    list-style-type: none;
    margin:calc(@grid-gutter-width/2) 0 0 0;
      padding:0;

      li {
        line-height:calc(@line-height-base * 2.25);
        font-size:@font-size-large;
      }

      li.joomla:focus, li.joomla:hover {
        background:@color-blue;
      }

      li.community:focus, li.community:hover {
        background:@color-yellow;
      }

      li.events:focus, li.events:hover {
        background:@color-green;
      }

      li.forum:focus, li.forum:hover {
        background:@color-red;
      }

      a {
        text-transform:uppercase;
        text-decoration:none;
        color:#fff;
        padding:0 @grid-gutter-width;
      }

      li.joomla.parent li a:hover,  li.joomla.parent li a:focus {
        background: none!important;
       color:@color-blue;
      }

      li.community.parent li a:hover, li.community.parent li a:focus   {
        background: none!important;
        color:@color-yellow;
      }

      li.events.parent li a:hover, li.events.parent li a:focus  {
        background: none!important;
        color:@color-green;
      }

      li.forum.parent li a:hover, li.forum.parent li a:focus  {
        background: none!important;
        color:@color-red;
      }

      ul.nav-child {
        list-style-type:none;
        padding:0;
        background:darken(@color-grey,45%);

        li:focus, li:hover {
          background:none;
        }


        li {

          a {
            padding:0 calc(@grid-gutter-width*2);
          }

        }
      }


    }
    }



  #navtoggler {
    right: calc(@width-offcanvas + @grid-gutter-width);
  }
}

/*** main nav mobile styles ***/
body.shownav #mainnav {

}

/*** main nav desktop styles ***/
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  #mainnav {
  }
}