/* Module Navigation Joomla */

#mainnav .joomla .module {

  p {
    text-align: center;
  }

  .name {
    color: @color-blue;
    font-weight: bold;
  }

  .btn.blue {
    color: #fff !important;
    width: 100%;
  }

  .btn.orange {
    background-color: @color-yellow;
    border-color: @color-yellow;
    color: #fff !important;
    width: 100%;
  }
}