/** hide main nav on mobile **/
#mainnav {
  .sr-only();
  .sr-only-focusable();
  width: 0px;
}

#navtoggler {
  width:calc(@grid-gutter-width * 1.25);
  height:calc(@grid-gutter-width * 1.25);
  color:#fff;
  background:transparent;
  border:none;

  &:focus {
    border: none;
  }

  span {
    font-size:@font-size-h2;
  }
}

/** main nav layout on enabled navigation **/
body.shownav {
  overflow-x: hidden;
  position: relative;

  #outerwrapper {
    margin-left: ((@width-offcanvas - 2) * -1);
    width: 100%;
  }

  #mainnav {
    position: absolute;
    right: 0;
    top: 0;
    width: @width-offcanvas;
    height: 100%;
    clip: auto;
    background:darken(@color-grey,45%);
  }

  #navtoggler {
    right: calc(@width-offcanvas + @grid-gutter-width);
  }
}

/*** main nav mobile styles ***/
body.shownav #mainnav {
  ul.menu {
    list-style-type: none;
    margin:calc(@grid-gutter-width/2) 0 0 0;
    padding:0;


    // mainlevel
    li {
      line-height: calc(@line-height-base * 2.25);
      font-size:@font-size-large;
      font-weight:600;
      width:100%;
      margin-left:calc(@grid-gutter-width / 1.5);
      margin-right:calc(@grid-gutter-width / 1.5);
      padding: 0 5px;


      &.divider {
        border-bottom:1px solid #fff;
      }

      &.divider span {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
      }

      &.joomla:before {
        font-family:FontAwesome;
        color:@color-blue;
        font-size:28px;
        content:"\f1aa";
      }

      &.joomla:focus::before, &.joomla:hover::before {
        color:#fff;
      }

      &.joomla:focus, &.joomla:hover {
        background:@color-blue;
      }

      &.joomla>ul {
        border-left:2px @color-blue solid;
      }

      &.community:before {
        font-family:FontAwesome;
        color:@color-yellow;
        content:"\f0c0";
        font-size:28px;

      }

      &.community:focus::before, &.community:hover::before {
        color:#fff;
      }

      &.community:focus, &.community:hover {
        background:@color-yellow;
      }

      &.community>ul {
        border-left:2px @color-yellow solid;

      }

      &.events:before {
        font-family:FontAwesome;
        color:@color-green;
        content:"\f19d";
        font-size:28px;

      }

      &.events:focus::before, &.events:hover::before {
        color:#fff;
      }

      &.events:focus, &.events:hover {
        background:@color-green;
      }

      &.events>ul {
        border-left:2px @color-green solid;

      }

      &.events:before {
        font-family:FontAwesome;
        color:@color-green;
        content:"\f073";
        font-size:28px;
      }

      &.forum:focus::before, &.forum:hover::before {
        color:#fff;
      }

      &.forum:focus, &.forum:hover {
        background:@color-red;
      }

      &.forum>ul {
        border-left:2px @color-red solid;
      }

      &.joomla.parent li a:hover,  &.joomla.parent li a:focus {
        color:@color-blue;
      }

      &.community.parent li a:hover, &.community.parent li a:focus   {
        color:@color-yellow;
      }

      &.events.parent li a:hover, &.events.parent li a:focus  {
        color:@color-green;
      }

      &.forum.parent li a:hover, &.forum.parent li a:focus  {
        color:@color-red;
      }

      ul {
        border-left:none;
      }

      li.parent li {
        background: none!important;
      }
    }

    // basic link styles
    a {
      text-transform:uppercase;
      text-decoration:none;
      color:#fff;
      padding:0 @grid-gutter-width;
    }

    /*** sublevel 1 ***/
    ul.nav-child {
      list-style-type: none;
      padding: 0;
      background: darken(@color-grey, 45%);
      margin-left:calc(@grid-gutter-width*0.3);


      li:focus, li:hover {
        background: none;
      }

      li {
        margin:0;
        font-size:16px;

        a, span {
          padding: 0 calc(@grid-gutter-width * 1);
          font-weight: 300;
          width: 100%;
        }
      }
    }

    /*** sublevel 2 ***/
    ul.nav-child li li {
      a, span {
        padding: 0 calc(@grid-gutter-width * 1);
        font-weight: 300;
        color: fade(#fff, 70%);
      }
    }

    // hide megamenu modules
    li.module {
      display: none;
    }
  }
}

/*** main nav desktop styles ***/
@media (min-width: @screen-sm) {
  #mainnav {
    height: auto;
    width: auto;
    right: (@grid-gutter-width / 2);
    top: 30px;
    overflow: visible;
    z-index: 10;
    clip: auto;
    position: absolute !important;

    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0;
    }

    a:hover {
      text-decoration: underline;
    }

    ul {
      list-style: none;
    }

    /** mainlevel **/
    > ul {
      padding: 0;
      margin: 0;

      > li {
        display: inline-block;

        &:after {
          content: "|";
          display: inline-block;
          margin: 0 2px;
          color: white;
        }

        &:last-child:after, &:nth-child(1):after {
          content: "";
          display: none;
        }
      }

      > li > a {
        padding: 2px 15px;
      }
    }

    /*** active and hover for menu level 2 ***/

    > ul > li.active > a, > ul > li:hover > a, > ul > li > a:focus {
      background: white;
      border-radius: 5px;
      text-decoration: none;
      color: @color-font;
    }

    > ul > li.parent:hover > a, > ul > li.parent > a:focus {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    /*** menu level 2 ***/
    > ul > li:hover > ul, > ul > li:focus > ul {
      display: block;
      position: absolute;
      background: white;
      padding: 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      width: 300px;

      a {
        color: @color-font;
      }

      li {
        margin: 0 0 5px 0;
      }

      .module {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 150px;
      }
    }

    // last submenu should open to the left
    > ul > li:last-child:hover > ul, > ul > li:last-child:focus > ul {
      right: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 0;
    }

    /*** all other levels ***/
    > ul ul {
      display: none;
    }
  }
}

/*** footer nav ***/
#footer nav > ul {
  padding: 0;
  margin-top: 2em;

  li {
    display: inline;

    &:after {
      content: " | ";
    }

    &:last-child:after {
      content: "";
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover, a:focus, li.active a {
    text-decoration: underline;
  }
}

#aside ul.menu {
  padding: 0;

  &, ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: @color-font;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  // Level 1
  > li {
    > a {
      text-transform: uppercase;
    }
  }

  // level 2
  ul {
    margin: 1.5em 0;
    padding: 0 0 0 15px;

    li.active:before {
      content: "\f054";
      font-family: FontAwesome;
      margin-left: -15px;
      position: absolute;
    }
  }


  li.module {
    display: none;
  }
}