.slideshowheader .carousel-inner > .item {

	img{
		width: 100%;
	}
	
	span{
		display:block;
		text-align:center;
		text-shadow: none;
	}
	
	span.h1{
		text-transform: uppercase;
	}
	
	span.h4{
		font-weight:300;
	}
	
	span.fa{
		font-size:8em;
		opacity: 0.3;
		display:none;
	}
	
	.carousel-caption {
		padding-bottom: 55px;
	}
	
	&:after {
		height: 100%;
		width: 100%;
		display: block;
		content: " ";
		top: 0px;
		position: absolute;
	}

	&:nth-child(4n+1):after{
		background: fade(@color-blue, 80%)
	}
	&:nth-child(4n+2):after{
		background: fade(@color-yellow, 80%)
	}
	&:nth-child(4n+3):after{
		background: fade(@color-green, 80%)
	}
	&:nth-child(4n+4):after{   
		background: fade(@color-red, 80%)
	}
}

.slideshowheader {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
#maincontent .carousel-inner {
	> div {
	 text-align: center;
	}

  	img {
	 border-radius: 80px;
	}
}