ul.tags {
  margin:10px 0; padding:0;
}

ul.tags li {
  margin-right:10px;
}

ul.tags.inline a {
  text-decoration: none;
  text-transform:uppercase;
}

.label-info {
  background: @color-darkblue;
}


.area-joomla {
  .label-info {
    background: @color-blue;
  }
}

.area-forum {
  .label-info {
    background: @color-red;
  }
}

.area-community {
  .label-info {
    background: @color-yellow;
  }
}

.area-events {
  .label-info {
    background: @color-green;
  }
}

.area-neutral {
  .label-info {
    background: @color-grey;
  }
}