ul.tags {padding:0; margin:0; float:right;}

ul.tags li {
  margin-right:3px;
}

ul.tags.inline a {
  text-decoration: none;
  text-transform:uppercase;
  font-weight: normal;
}

.label-info {
  background: @color-darkblue;
}


.area-joomla {
  .label-info {
    background: @color-blue;
  }
}

.area-forum {
  .label-info {
    background: @color-red;
  }
}

.area-community {
  .label-info {
    background: @color-yellow;
  }
}

.area-events {
  .label-info {
    background: @color-green;
  }
}

.area-neutral {
  .label-info {
    background: @color-grey;
  }
}