/*Überschriften*/

h1, h2, h3, h1 a, h2 a, h3 a {
  background: @color-grey;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding:5px;
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}